<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<div>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>
</div>

<div align="center">
  <button mat-button>Hi</button>
  <button mat-raisedng-button>Hi</button>
  <button mat-flat-button>Hi</button>
  <button mat-stroked-button>Hi</button>
</div>

<div class="mat-display-4">Display 4</div>
<div class="mat-display-3">Display 3</div>
<div class="mat-display-2">Display 2</div>
<div class="mat-display-1">Display 1</div>